@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 650px;
  margin: 20px auto;
}

.comment {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  margin-bottom: 20px;
}

.img-wrap {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  object-fit: contain;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.top h3, .next{
  margin-right: 7px;
}

.top span {
  margin-left: 7px;
  color: #696969;
  font-size: small;
}

.top p, .top span{
  text-transform: uppercase; 
}
.p-wrap {
  background-color: #292929;
  padding-left: 13px;
  padding-right: 13px;
  color: #fff;
  border-radius: 12px;
  font-size:13px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  text-align: center;
}
.next p {
  font-size: 16px;
}

.replies {
  text-transform: uppercase;
  width: 550px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 110px;
  display: flex;
  font-size: 14px;
  color: #707070;
}

.reply{
  margin-right: 20px;
  position: relative;
}
.reply p {
  padding-left: 7px;
}

/* .c {
 display: flex;
 align-items: center;
} */
.replies > div:nth-child(3){
  position:  relative;
}

.arrow {
  position: absolute;
  left: -12px;
  top: 3px;
  max-width: 15px;
  max-height: 15px;
  width: 7ch;
  height: 7ch;
  cursor: pointer;
  will-change: transform, opacity;
  margin-right: 5px;
}

.up, .down {
  background-size:cover;
  background-position: bottom bottom;
}

.up {
  background-image: url('./images/uparrow.png');
}

.down {
  background-image: url('./images/downarrow.png');
}

.replies p:hover {
  cursor: pointer;
}
